RideBuddy/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ridebuddyidentityservice.cloudapp.net/IdentityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ridebuddyidentityservice.cloudapp.net/IdentityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ridebuddyidentityservice.cloudapp.net/IdentityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RideBuddyIdentityService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIdentyService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IIdentyService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentyService_CreateUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserProfile" />
  </wsdl:message>
  <wsdl:message name="IIdentyService_CreateUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentyService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IIdentyService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentyService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IIdentyService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IIdentyService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentyService/GetData" message="tns:IIdentyService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentyService/GetDataResponse" message="tns:IIdentyService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentyService/CreateUserProfile" message="tns:IIdentyService_CreateUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentyService/CreateUserProfileResponse" message="tns:IIdentyService_CreateUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentyService/GetUserProfile" message="tns:IIdentyService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentyService/GetUserProfileResponse" message="tns:IIdentyService_GetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentyService/CreateUser" message="tns:IIdentyService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentyService/CreateUserResponse" message="tns:IIdentyService_CreateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIdentyService" type="tns:IIdentyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IIdentyService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserProfile">
      <soap:operation soapAction="http://tempuri.org/IIdentyService/CreateUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://tempuri.org/IIdentyService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IIdentyService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IIdentyService" binding="tns:BasicHttpBinding_IIdentyService">
      <soap:address location="http://ridebuddyidentityservice.cloudapp.net/IdentityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>